<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newhua.goods">

    <application
        android:allowBackup="true"
        android:label="GoodsCenter"
        android:supportsRtl="true"
        tools:replace="android:label">

        <activity android:name=".ui.activity.GoodsActivity"></activity>
        <activity android:name=".ui.activity.SearchGoodsActivity"></activity>
        <activity android:name=".ui.activity.GoodsDetailActivity"/>
    </application>

</manifest>
